<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5>{{currentQuestionSet.question}}</h5>
      <div *ngFor="let o of currentQuestionSet.option">
        <!-- <input type="radio" name="{{currentQuestionSet.id}}" value="{{o.optionid}}" [(ngModel)]="currentQuestionSet.selected">{{o.name}} -->
        <div class="radio-button">
          <label class="radio-button__label-wrapper" for="{{o.optionid}}">
            <h3 class="radio-button__label-title">
              {{o.name}}
            </h3>
            <!-- <span class="radio-button__label-subtext">
              Only allow registered Replogic users to view it.
            </span> -->
            <input type="radio" name="sharing_preference" id="{{o.optionid}}" value="{{o.optionid}}" class="radio-button__input">
            <div class="radio-button__custom-indicator"></div>  </label>
        </div>
      </div>
    </div>
  </div>
</div>